/* General Styling */
body {
  font-family: "Arial", sans-serif;
  background-color: #ceced3; /* Background putih */
  color: #333;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0 20px;
  margin: 0;
  overflow-x: hidden;
}

.container {
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px; /* Ukuran container lebih kecil */
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

/* Left Side */
.left-side {
  width: 100%;
  padding: 30px 20px;
  background: #3b989b; /* Warna latar abu-abu terang untuk kontras */
  color: #333;
  text-align: center;
  box-sizing: border-box;
}

.left-side h1 {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.left-side h2 {
  color: rgb(13, 13, 88); /* Warna biru untuk Welcome to My CV */
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 15px;
}

.left-side .profile-img {
  width: 200x; /* Ukuran gambar lebih kecil */
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  border: 4px solid #aba8b3;
  margin: 15px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.left-side .profile-img:hover {
  transform: scale(1.1);
}

.left-side .subtitle {
  font-size: 1rem;
  color: #040a5a;
  margin-top: 10px;
}

/* Social Media Section */
.social-icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}

.social-icon {
  font-size: 1.6em;
  color: #140350;
  background-color: #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-icon:hover {
  background-color: #7e819100;
  transform: scale(1.2);
}

/* Right Side */
.right-side {
  width: 100%;
  padding: 30px 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  text-align: left;
}

.right-side h2 {
  color: #1d3557;
  font-size: 1.8em;
  margin-bottom: 20px;
  text-align: center;
}

.section-divider {
  width: 100%;
  height: 1px;
  background-color: #625cb9;
  margin: 25px 0;
}
